Repository Cataclysm-TISH-team/Cataclysm-TISH, pull requests merged in 2023-04, with the labels that each got.

#8 Trying to make build work
  .github/workflows/msvc-full-features.yml
  data/json/furniture_and_terrain/terrain-floors-indoor.json
Labels: [JSON], Code: Tooling, Fields / Furniture / Terrain / Traps

#12 Build fix
  .github/workflows/release.yml
Labels: Code: Tooling

#14 Return back SPIW weapons
  data/json/itemgroups/Labs/lab_security.json
  data/json/itemgroups/Weapons_Mods_Ammo/ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/guns.json
  data/json/itemgroups/Weapons_Mods_Ammo/magazines.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_ammo.json
  data/json/itemgroups/Weapons_Mods_Ammo/nested_guns.json
  data/json/itemgroups/military.json
  data/json/items/ammo/5x50.json
  data/json/items/ammo_types.json
  data/json/items/armor/ammo_pouch.json
  data/json/items/armor/bandolier.json
  data/json/items/generic/casing.json
  data/json/items/gun/5x50mm.json
  data/json/items/magazine/5x50.json
  data/json/npcs/robofac/NPC_Ulysses_Rourke.json
  data/json/obsoletion/obsolete_ammo_types.json
  data/json/obsoletion/obsolete_items.json
  data/json/recipes/ammo/rifle.json
  data/json/uncraft/ammo/5x50.json
  data/mods/Generic_Guns/firearms/gg_firearms_migration.json
  data/mods/Generic_Guns/magazines/gg_magazines_migration.json
  data/mods/Generic_Guns/recipes/recipe_obsolete.json
  data/mods/Magiclysm/Spells/attunements/Magnetism_Mage.json
  data/mods/Xedra_Evolved/player/professions.json
  data/mods/classic_zombies/items/blacklists.json
Labels: [JSON], Crafting / Construction / Recipes, Mods, NPC / Factions, Items: Armor / Clothing, Items: Magazines, Mutations / Traits / Professions/ Hobbies, Spawn, Items: Ammo / Guns, Mods: Dark Days of the Dead, Mods: Generic Guns, Mods: Magiclysm, Mods: Xedra Evolved, Mechanics: Enchantments / Spells

#13 Changed name from CDDA to TISH
  .github/workflows/release.yml
Labels: Code: Tooling

#21 Revert "Revert "Changed name from CDDA to TISH""
  .github/workflows/release.yml
Labels: Code: Tooling

#18 Arms encumbrance no longer affects crafting speed, except when it's encumbrance from integrated armor
  data/changelog.txt
  src/crafting.cpp
Labels: Crafting / Construction / Recipes, [C++]

#25 Monsters won't shoot at vehicles they can't see
  src/mattack_actors.cpp
Labels: [C++]

#27 Drag much heavier vehicles
  data/changelog.txt
  src/grab.cpp
Labels: [C++]

#29 Moved martial arts manuals to its own new item category
  data/json/item_category.json
  data/json/items/book/abstract.json
  data/json/loot_zones.json
  src/options.cpp
Labels: [JSON], [C++]

#33 Allow installing and removing bionics through debug menu
  data/json/mutations/mutations.json
  src/character.cpp
  src/debug_menu.cpp
  src/debug_menu.h
  src/mutation.cpp
  src/wish.cpp
Labels: [JSON], [C++], Mutations / Traits / Professions/ Hobbies

#34 Increased horse's weight and carry weight
  data/changelog.txt
  data/json/monsters/mammal.json
  tests/char_biometrics_test.cpp
Labels: [JSON], [C++], Code: Tests

#38 Mouse hover in @ menu
  src/player_display.cpp
Labels: [C++]

#39 Player character won't fail at crafting items from very easy or very fast recipes
  data/changelog.txt
  src/crafting.cpp
  tests/crafting_test.cpp
Labels: Crafting / Construction / Recipes, [C++], Code: Tests

#40 Helicopter pilot training CBM
  data/json/bionics.json
  data/json/itemgroups/Monsters_Animals_Lairs/harvest_cbm.json
  data/json/itemgroups/bionics.json
  data/json/items/bionics.json
  data/json/monsterdrops/zombie_military_pilot.json
  data/json/npcs/exodii/exodii_merchant_itemlist.json
  src/handle_action.cpp
Labels: [JSON], [C++], Spawn, Bionics

#42 Added ability to remove plants from planters without destroying planter
  data/json/furniture_and_terrain/furniture-domestic_plants.json
Labels: [JSON], Fields / Furniture / Terrain / Traps

#43 Enable auto pulping acidic zombies if acid protected
  src/activity_handlers.cpp
  src/game.cpp
Labels: [C++]

#44 Fix spell copy-from
  src/magic.cpp
Labels: [C++]

#45 Enable/disable showing several non-player-related messages in the log
  src/creature.cpp
  src/game.cpp
  src/mattack_actors.cpp
  src/monmove.cpp
  src/monster.cpp
  src/options.cpp
Labels: [C++]

#46 "Fire at moving vehicles" mechanics tweaks
  data/json/monsters/drones.json
  data/json/monsters/feral_humans.json
  data/json/monsters/robofac_robots.json
  data/json/monsters/yrax.json
  doc/MONSTER_SPECIAL_ATTACKS.md
  src/map.cpp
  src/map.h
  src/mattack_actors.cpp
Labels: [JSON], [C++], [Markdown], <Documentation>

#47 Updated action/checkout versions
  .github/workflows/CBA.yml
  .github/workflows/check-translation.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/cmake-format.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment-commands.yml
  .github/workflows/flake8.yml
  .github/workflows/labeler.yml
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features.yml
  .github/workflows/push-translation-template.yml
  .github/workflows/release.yml
  .github/workflows/summary-labeler.yml
  .github/workflows/text-changes-analyzer.yml
  .github/workflows/toc.yml
Labels: Code: Tooling

#54 Routine CDDA merge
  .github/workflows/CBA.yml
  .github/workflows/astyle.yml
  .github/workflows/json.yml
  .github/workflows/matrix.yml
  .github/workflows/release.yml
  .github/workflows/text-changes-analyzer.yml
  data/json/items/armor/bespoke_armor/custom_bodysuits.json
  data/json/items/armor/bespoke_armor/custom_storage.json
  data/json/items/armor/suits_protection.json
  data/json/items/comestibles/drink_other.json
  data/json/recipes/food/casseroles.json
  src/item.cpp
Labels: [JSON], [C++], Code: Tooling, Items: Armor / Clothing

#53 Added sorting, showing&hiding pocket contents, and scrolling via mouse in inventory screens
  src/game_inventory.cpp
  src/inventory_ui.cpp
  src/inventory_ui.h
Labels: [C++], Info / User Interface

#55 Reverted nerfing of nyctophobia
  src/suffer.cpp
Labels: [C++]

#52 Mouse support in keybindings menu
  data/raw/keybindings.json
  src/input.cpp
  src/input.h
Labels: [JSON], [C++]

#56 Neutral monsters will ignore moving vehicles with visible driver until they are moving closer than 5 tiles
  src/map.cpp
Labels: [C++]

#57 Added overhead light to three default shelters
  data/changelog.txt
  data/json/mapgen/shelter.json
  data/json/mapgen_palettes/shelter.json
  data/mods/No_Hope/palettes.json
Labels: [JSON], Mods, Mods: No Hope

#59 Routine CCDA content merge 18.04.23
  data/json/furniture_and_terrain/terrain-zlevel-transitions.json
  data/json/mapgen/drug_lab.json
  data/json/mapgen/river_cave.json
  data/json/mapgen/tutorial.json
  data/json/monsters/zed_misc.json
  data/json/overmap/overmap_mutable/mine_mutable.json
  data/json/overmap/overmap_special/specials.json
  data/json/overmap/overmap_terrain/overmap_terrain.json
  data/mods/Magiclysm/Spells/earthshaper.json
  data/mods/innawood/game_balance.json
  data/mods/innawood/modinfo.json
  data/mods/innawood/overmap/connections.json
Labels: [JSON], Mods, Fields / Furniture / Terrain / Traps, Mods: Magiclysm, Mechanics: Enchantments / Spells, Map / Mapgen, Mods: Innawood 🌲

#60 Characters with Infection Immune trait no longer need to sterilize bionics prior to installation
  data/changelog.txt
  src/bionics.cpp
Labels: [C++], Bionics

#61 Prompt player to hold his breath upon entering tiles with a smoke
  data/changelog.txt
  src/character.cpp
  src/game.cpp
  src/suffer.cpp
  tests/iuse_test.cpp
Labels: [C++], Code: Tests

#64 Changed ASCII art from CDDA to TISH
  data/title/en.alt1
  data/title/en.title
  src/main_menu.cpp
Labels: [C++]

#65 Auto-move uses distraction manager
  src/game.cpp
  src/player_activity.cpp
Labels: [C++]

#67 Allowed manual installing non-sterile CBMs with Infection Immune trait
  data/json/mutations/mutations.json
  src/iuse_actor.cpp
Labels: [JSON], [C++], Mutations / Traits / Professions/ Hobbies

#66 Player character now can get sick with common cold or flu only after contacts with NPCs or ferals
  data/changelog.txt
  data/json/effects.json
  data/json/monsters/feral_humans.json
  data/json/species.json
  src/character.cpp
  src/character.h
  src/character_body.cpp
  src/game.cpp
  src/map.cpp
  src/monster.cpp
  src/player_hardcoded_effects.cpp
Labels: [JSON], [C++], Mutations / Traits / Professions/ Hobbies

#68 Try to infect player only on feral/NPC cough
  src/character.cpp
  src/character.h
  src/character_body.cpp
  src/monster.cpp
  src/player_hardcoded_effects.cpp
Labels: [C++]

#69 Fix temple anti-softlock code
  src/trapfunc.cpp
Labels: [C++], Fields / Furniture / Terrain / Traps

#70 Detailed information for stats on character creation menu
  src/newcharacter.cpp
Labels: [C++], Character / World Generation
